<style type="text/css">
.newsticker {
    max-width: 95%;   /* news width */
    margin: auto;
}

#newsticker-container {
    text-align: center;
}

#newsticker-container i {
    font-size: 36px;
    margin: 8px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#newsticker-container i:hover {
    color: #333;
}

.newsticker li {
    color: #999;
    {% if not notdiv %}
    background: #F2F2F2;
    {% endif %}
    overflow: hidden;
    height: {% if row_height %}{{ row_height }}{% else %} 80 {% endif %}px;
    padding: 10px;
    line-height: 30px;
    list-style: none;
    {% if not notdiv %}
    font-size: 24px;
    {% endif %}
    text-align: left;
    {% if max_rows > 1 %}
    border-bottom: 1px dotted #2c8162;
    {% endif %}
}

.newsticker li:hover {
    color: #4e4e4e;
    /* background: #FFF; */
}
.newsticker li a:hover {
    color: #fff;
}
</style>

{% if not notdiv %}
<div id="newsticker-container" class="centered">
    {% if button %}
    <i id="prev" class="glyphicon glyphicon-chevron-up"></i>
    {% endif %}
    <ul class="newsticker">
    </ul>
    {% if button %}
    <i id="next" class="glyphicon glyphicon-chevron-down"></i>
    {% endif %}
</div>
{% else %}
<ul class="newsticker"> </ul>
{% endif %}

<script>
    //append announce
    var req = new XMLHttpRequest();
    var tmp = $('.newsticker');
    req.onreadystatechange = function(){
        if(req.readyState === 4){
            var announce = JSON.parse(req.responseText);
            for (i=0; i < announce.results.length; i++){
                link = document.createElement('a');
                link.href = '/announce/view/' + announce.results[i].id;
                link.textContent = announce.results[i].title;
                news = document.createElement('li');
                news.appendChild(link);
                tmp.append(news);
            }
            req = null;
        }
    }
    req.open('GET', "/api/announce/?format=json", true)
    req.send(null);
</script>
<script src="/static/js/jquery.newsTicker.min.js"></script>
<script>
    var nt = $('.newsticker').newsTicker({
        row_height: {% if row_height %}{{ row_height }}{% else %} 80 {% endif %},
        max_rows: {{ max_rows }},
        speed: 300,
        duration: 5000,
        prevButton: $('#prev'),
        nextButton: $('#next')
    });
</script>
