{% load compress i18n %}

{% compress js %}
<script>
    $(function(){
        $('table').tablesorter({});
    });
</script>
<script>
    // Dropdown
    dropdown_bind = function(){

        $("li.dropdown").hover(function(){

            $(this).addClass("hover");
            $('ul:first',this).css('visibility', 'visible');

        }, function(){

            $(this).removeClass("hover");
            $('ul:first',this).css('visibility', 'hidden');

        });

        $("li.dropdown ul li:has(ul)").find("a:first").append(" &raquo; ");

    };

    dropdown_bind();
</script>
{% endcompress %}
