<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
  $('[data-toggle=tooltip]').tooltip()
</script>

<link href="/static/css/tablesorter.css" rel="stylesheet">
<script src="/static/js/jquery.tablesorter.min.js"></script>
<script src="/static/js/jquery.tablesorter.widgets.min.js"></script>
<script>
    $(function(){
        $("table thead th.no-tablesorter").data("sorter", false).data("filter", false);
        $('table').tablesorter({
            widgets        : ['zebra', 'columns', 'filter', 'resizable', 'stickyHeaders'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true,
            widgetOptions  : { stickyHeaders_offset : 50 },
        });
    });
</script>
<style type="text/css">
    input.tablesorter-filter.disabled { visibility: hidden; }
</style>

<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery-ui-i18n.min.js"></script>

<link href="/static/css/jquery-ui-timepicker-addon.css" rel="stylesheet">
<link href="/static/css/oh-timepicker.css" rel="stylesheet">
<script src="/static/js/jquery-ui-timepicker-addon.js"></script>
<script>
    jQuery('#id_start_time, #id_end_time').datetimepicker(jQuery.extend({showMonthAfterYear:false}, jQuery.datepicker.regional['zh_tw'], {'dateFormat':'yy-mm-dd', 'timeFormat':'hh:mm:ss', 'hourGrid':4, 'minuteGrid':10}));
</script>
