{% load compress i18n %}

{% compress css %}
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/fa/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
{% endcompress %}

{% compress js %}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.min.js"></script>
<script src="{{ STATIC_URL }}js/ajax-content.js"></script>
{% endcompress %}
