html, body {
    height: 100%
}

body {
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

.center {
    text-align: center;
}

.bold {
	font-weight:bold;
}

.big-font {
    font-size: 150%;
}

.important {
	font-weight:bold;
    color: red;
}

.content {
    min-height: 31%;
}

.news-head {
    border-bottom-style: solid;
    border-color: #878A84;
    margin-bottom: 3%;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* wagtail */

#wagtail-userbar {
    top: 10%;
}

.rich-text {
    font-size: 16px;
    padding-top: 1%;
    padding-bottom: 1%;
}

img {
    max-width: 100%;
    height: auto;
}

img.right {
    float: right;
}

img.left {
    float: left;
}

/* message */

.messages ul li {
    list-style-type: none;
}

.error {
    color: #cd3238;
    font-weight: bold;
}

/* search */

.search-form {
    display: inline-block;
    width: 100%;
}

#results p {
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}

.search-form input {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
    border: 1px solid #BBBBBB;
    background: #fff;
    font-size: 130%;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.search-form li {
    list-style-type: none;
}

.search-form label {
    display: none;
}

.pagination {
    text-align: center;
    width: 100%;
}

.pagination ul {
    margin-top: -1.8em;
}

.pagination p {
    margin: 0;
}

.pagination li {
    list-style-type: none;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}

/* required */

span.required:before {
    color: red;
    content: '*';
}

/* self head */

.content-head {
    border-bottom-style: solid;
    border-color: #878A84;
    margin-top: 2%;
    margin-bottom: 3%;
}

.big-head {
    font-size: 180%;
    display: block;
}

/* history menu */

li.dropdown                    { position: relative; }

    /* history menu - description */
li.dropdown a:hover            { color: #000; }
li.dropdown a:active           { color: #ffa500; }

    /* history menu - list of links */
li.dropdown ul                 { width: auto; visibility: hidden;
                                 position: absolute; top: 100%; left: 0;
                                 background: #ccc; list-style-type: none;
                                 padding-left: 0%; min-width: 100%; white-space: nowrap;
                                 border-left: 4px solid rgba(80, 62, 62, 1);
                                 box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.5); }
li.dropdown ul li              { font-weight: normal; background: #f6f6f6; color: #000;
                                 float: none;
                                 padding: 8px 13px 5px 15px; /* up right down left */ }

    /* history menu - links in list */
li.dropdown ul a               { font-size: 150%; font-weight: bold; width: 100%; }

/* time */

.time {
    font-size: 150%;
    font-weight: bold;
    color: rgb(37, 44, 218);
}

/* bold black */

.bb {
    font-size: 150%;
    font-weight: bold;
    color: black;
}

/* message */

.messages {
    background-color: rgba(182, 222, 172, 0.99);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.messages ul li {
    list-style-type: initial;
}

/* table */

.vertical-table td:first-of-type {
    width: 120px;
	font-weight:bold;
}

/* form */

.form-field {
    font-size: 16px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.form-field label {
    min-width: 70px;
    text-align: right;
    display: inline-block;
}

.form-field textarea {
    vertical-align: top;
    margin-left: 30px;
    width: 50%;
    display: inline;
}

.form-field input {
    margin-left: 30px;
    width: 40%;
    display: inline;
}

.form-field .input-block {
    display: inline;
}

.form-field .help-block {
    margin-left: 120px;
}

.form-field .error-message {
    margin-left: 120px;
}

.form-field select {
    margin-left: 30px;
    width: auto;
    display: inline;
}

.form-field input[type='checkbox'] {
    width: 1.5%;
    display: inline;
    vertical-align: middle;
    margin-left: 40px;
}

.form-field input[type='file'] {
    box-sizing: initial;
}

/* table of content */

.has-toc {
    padding-left: 5%;
}

#toc {
    top: 0%;
    padding-top: 5%;
    left: 0%;
    height: 100%;
    position: static;
    float: left;
    background: rgba(255, 255, 255, 0);
    box-shadow: inset 0 0 0 0 #8D6868;
    width: auto;
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #100938;
    text-decoration: none;
    display: block;
}

#toc .-h2 {
    padding-left: 10px;
}

#toc .-h3 {
    padding-left: 25px;
}

#toc .-h4 {
    padding-left: 40px;
}

#toc .toc-active {
    background: #69B4FF;
    box-shadow: inset -5px 0px 10px -5px #000;
}

/* tablesorter */
.tablesorter-default thead .tablesorter-headerAsc {
	background: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7) no-repeat center right;
	border-bottom: #000 2px solid;
}
.tablesorter-default thead .tablesorter-headerDesc {
	background: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7) no-repeat center right;
	border-bottom: #000 2px solid;
}
