{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load gravatar %}
{% block titletag %}{% trans "廠商" %}{% endblock %}
{% block bodyclass %}menu-users{% endblock %}
{% block extra_js %}
    <script>
        window.headerSearch = {
            url: "{% url 'company_index' %}",
            termInput: "#id_q",
            targetOutput: "#user-results"
        }
    </script>
{% endblock %}

{% block content %}
    {% trans "廠商" as users_str %}
    {% trans "新增廠商" as add_a_user_str %}
    {% include "wagtailadmin/shared/header.html" with title=users_str add_link="company_create" add_text=add_a_user_str icon="user" search_url="company_index" %}

    <div class="nice-padding">
        <div id="user-results" class="users">
            {% include "company/results.html" %}
        </div>
    </div>
{% endblock %}
