{% extends "base.html" %}
{% load pageurl rich_text %}

{% block CONTENT %}
    <div class="news-head">
        <h1 class="page-header">
            <span class="big-head">{{ self.title }}</span>
            <small>{{ self.sub_title }}</small>
        </h1>
    </div>
    {% if self.body %}{{ self.body | richtext }}{% endif %}
    <br />
    <div>
        {% if self.forums %}
        <table class="table">
            <thead>
              <tr>
                <th>廠商名稱</th>
                <th>主題</th>
                <th>開始時間</th>
                <th>結束時間</th>
                <th>地點</th>
                <th></th>
              </tr>
            </thead>

            {% for i in self.forums %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td>{{ i.abbr }}</td>
              <td>{{ i.title }}</td>
              <td>{{ i.start_time | date:"Y-m-d H:i D" }}</td>
              <td>{{ i.end_time | date:"Y-m-d H:i D" }}</td>
              <td>{{ i.place }}</td>
              <td><a href="{{ i.url }}">報名</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>目前沒有東西 :p</p>
        {% endif %}
    </div>
{% endblock %}
