{% extends "base.html" %}
{% load pageurl rich_text %}

{% block CONTENT %}
    <h1>交大人才庫</h1>
    {% if self.body %}
        <br />
        {{ self.body|richtext }}
    {% endif %}
    <br />
    {% include 'pdf/pdfview.html' with FILE_PATH=self.pdf.url %}
    <form action="{% pageurl self %}" method="POST">
        {% csrf_token %}
        <label class="checkbox">
            <input id="id_agree" name="agree" type="checkbox">我已詳細閱讀並且同意以上條款
        </label>
        <button class="btn btn-primary" type="submit">確認</button>
    </form>
{% endblock %}
