{% extends "base.html" %}
{% load image_tags %}
{% load wagtailcore_tags rich_text %}

{% block CONTENT %}
    <div class="content-head">
        <h1 class="page-header">
            <span class="big-head">{{ self.title }}</span>
            <small>{{ self.sub_title }}</small>
        </h1>
    </div>
    <h2 class='center'>{{ self.place }}</h2>
    {% image self.image1 original %}
    {% image self.image2 original %}
    {{ self.body|richtext }}
    <table class='table'>
        <tr>
        {% for i in self.position_company.all %}
            <td>
                <span class='bold'>{{ i.position }}</span>:
                {{ i.company }}
            </td>
            {% if forloop.counter|divisibleby:'4' %}
        </tr>
        <tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
{% endblock %}
