{% extends "base.html" %}

{% block CONTENT %}
    {% load menu %}
    {% get_year as year %}

    <h1>{{ self.title }}</h1>
    <br />
    <div>
        {% if self.news %}
        <table class="table">
            <thead>
              <tr>
                <th>標題</th>
                <th>發佈時間</th>
                <th>更新時間</th>
              </tr>
            </thead>

            {% for i in self.news %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a class='ajax' href="/{{ year }}{{ i.url }}">{{ i.title }}</a></td>
              <td>{{ i.create_time | date:"Y-m-d H:i D" }}</td>
              <td>{{ i.update_time | date:"Y-m-d H:i D" }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>目前沒有東西 :p</p>
        {% endif %}
    </div>
{% endblock %}
