{% extends "base.html" %}
{% load wagtailcore_tags rich_text %}

{% block CONTENT %}
    {% if self.in_time %}
        <div class="news-head">
            <h1>{{ self.title }}</h1>
            <p>
                <div>
                    開始時間: <span class="time">{{ self.start_time | date:"Y-m-d H:i D" }}</span>
                    &nbsp;&nbsp;&nbsp;
                    結束時間: <span class="time">{{ self.end_time | date:"Y-m-d H:i D" }}</span>
                </div>
                <div class="teach-info">
                    主講人: <span class="bb">{{ self.speaker }}</span>
                    &nbsp;&nbsp;&nbsp;
                    地點: <span class="bb">{{ self.place }}</span>
                    &nbsp;&nbsp;&nbsp;
                    模式: <span class="bb">{{ self.mode }}</span>
                </div>
            </p>
        </div>
        {{ self.body|richtext }}
    {% else %}
        <div class="news-head">
            <h1>報名截止</h1>
        </div>
        <p>本企業職場導師講座場次報名已截止。</p>
    {% endif %}
{% endblock %}
