{% load i18n %}
<table class="table">
    <thead>
        <tr>
            <th class="departure">
                {% trans "系所" %}
                {% if ordering == "department" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=department" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th class="grade">
                {% trans "年級" %}
                {% if ordering == "grade" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=grade" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th>
                {% trans "大學專題" %}
                {% if ordering == "projcet" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=projcet" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th>
                {% trans "研究所論文" %}
                {% if ordering == "thesis" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=thesis" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th>
                {% trans "指導教授" %}
                {% if ordering == "teacher" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=teacher" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th>
                {% trans "實習經驗" %}
                {% if ordering == "intern" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=intern" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th>
                {% trans "參與國科會計劃" %}
                {% if ordering == "nsc_project" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=nsc_project" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th>
                {% trans "語文能力檢定" %}
                {% if ordering == "language_ability" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=language_ability" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th class="email">
                {% trans "Email" %}
                {% if ordering == "email" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=email" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
            <th class="update_time">
                {% trans "更新時間" %}
                {% if ordering == "update_time" %}
                    <a href="{% url 'hrdb_index' %}" class="icon icon-arrow-down-after teal"></a>
                {% else %}
                    <a href="{% url 'hrdb_index' %}?ordering=update_time" class="icon icon-arrow-down-after"></a>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for i in students %}
            <tr>
                <td>{{ i.department }}</td>
                <td>{{ i.grade }}</td>
                <td>{{ i.project }}</td>
                <td>{{ i.thesis }}</td>
                <td>{{ i.teacher }}</td>
                <td>{{ i.intern }}</td>
                <td>{% if i.nsc_project %}是{% else %}否{% endif %}</td>
                <td>{{ i.language_ability }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.update_time | date:"Y-m-d H:i" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
