{% extends "wagtailadmin/base.html" %}
{% load image_tags %}
{% load i18n %}
{% block titletag %}{% trans "Add user" %}{% endblock %}
{% block bodyclass %}menu-users{% endblock %}

{% block extra_js %}
    {% include "wagtailadmin/shared/datetimepicker_translations.html" %}
    <script>
        $(function() {
            $('#id_start').datetimepicker({
                format: 'Y-m-d H:i',
                i18n: {
                    lang: window.dateTimePickerTranslations
                },
                lang: 'lang'
            });
            $('#id_end').datetimepicker({
                format: 'Y-m-d H:i',
                i18n: {
                    lang: window.dateTimePickerTranslations
                },
                lang: 'lang'
            });
        })
    </script>
{% endblock %}

{% block content %}

    {% trans "新增報帳" as add_user_str %}
    {% include "wagtailadmin/shared/header.html" with title=add_user_str merged=1 tabbed=1 icon="user" %}

    <ul class="tab-nav merged">
        <li class="active"><a href="#account">{% trans "報帳" %}</a></li>
    </ul>

    <form action="{% url 'salary_create' %}" method="POST">
        <div class="tab-content">
            {% csrf_token %}
            <section id="account" class="active nice-padding">
                <ul class="fields">
                    {% include "wagtailadmin/shared/field_as_li.html" with field=form.staff %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=form.desc %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=form.start %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=form.end %}

                    <li><input type="submit" value='{% trans "新增報帳" %}' /></li>
                </ul>
            </section>
        </div>
    </form>
{% endblock %}
