{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load gravatar %}
{% block titletag %}{% trans "報帳" %}{% endblock %}
{% block bodyclass %}menu-users{% endblock %}
{% block extra_js %}
    <script>
        window.headerSearch = {
            url: "{% if unverify %}{% url 'salary_unverify' %}{% else %}{% url 'salary_index' %}{% endif %}",
            termInput: "#id_q",
            targetOutput: "#user-results"
        }
    </script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.min.js"></script>
    <script src="{{ STATIC_URL }}js/update.js"></script>
    <script>
        update('.pass', '.status');
        update('.deny', '.status');
    </script>
{% endblock %}

{% block content %}
    {% trans "報帳" as users_str %}
    {% trans "新增報帳" as add_a_user_str %}
    {% trans "未審核" as filter_str %}
    {% include "salary/header.html" with title=users_str add_link="salary_create" add_text=add_a_user_str icon="user" search_url="salary_index" filter_link="salary_unverify" filter_text=filter_str %}

    <div class="nice-padding">
        <div id="user-results" class="users">
            {% include "salary/results.html" %}
        </div>
    </div>
{% endblock %}
