{% extends "base.html" %}
{% load widget_tweaks %}

{% block EXTRA_CSS_JS %}
<script src="/static/js/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block CONTENT %}
<div class="page-header"><h1>發佈消息</h1></div>
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <p class="help-block">有 <span class="required">*</span> 的欄位為必填</p>
    {% for field in form %}
    <div class="form-group">
        <label class="col-sm-1 required" >{{ field.label }}
            <span class="required">*</sapn>
        </label>
        <div class="col-sm-12">
            {{ field | attr:"style:width: 100%;" }}
        </div>
    </div>
    {% endfor %}
    <hr>
    <div class="well">
        <div><input class="btn btn-primary" type="submit" value="發佈" /></div>
    </div>
</form>

<script>
    CKEDITOR.replace( 'id_content', {});
</script>
{% endblock %}
