{% extends "base.html" %}
{% load widget_tweaks %}

{% block CONTENT %}
<div class="page-header"><h1>新廠商註冊</h1></div>
<div class="alert alert-info alert-block">
  <p class="lead">
    <a href="/company/import">如貴公司去年參加過OpenHouse之活動，請按此直接輸入統編與密碼匯入資料</a>
  </p>
</div>
<p class="help-block"><span class="required">*</span> 表示必要的欄位</p>

<form class="form-horizontal" action="" method="post">
    {% csrf_token %}

    <div class="well">
        <h2>公司基本資料</h2>
        {% for field in form %}
        <div class="form-group">
            <label class="col-sm-2 control-label required">{{ field.label }}
                <span class="required">*</sapn>
            </label>
            <div class="col-sm-5">
                {{ field |add_class:"form-control" }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="well">
        <div class="alert alert-warning">
            <p>請確認上述資料是否已全部填寫完畢無誤，並<strong>務必</strong>上傳公司Logo。</p>
        </div>
        <div><input class="btn btn-primary" type="submit" value="註冊" /></div>
    </div>
</form>

{% endblock %}
