{% extends "base.html" %}
{% load widget_tweaks %}

{% block CONTENT %}
<div class="page-header" style="padding-top: 20px;"><h1>{{ company.shortname }} - 資料修改</h1></div>

<form class="form-horizontal" action="" method="post">
    {% csrf_token %}

    <div class="well">
        {% for field in form %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-5">
                {{ field |add_class:"form-control" }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="well">
        <div class="alert alert-warning">
            <p>請確認上述資料是否已全部填寫完畢無誤，並<strong>務必</strong>上傳公司Logo。</p>
        </div>
        <div><input class="btn btn-primary" type="submit" value="儲存" /></div>
    </div>
</form>

{% endblock %}
