{% extends "base.html" %}

{% block CONTENT %}
<div class="page-header" style="padding-top: 20px; padding-bottom: 15px;"><h1>檢視廠商資料 - {{ name }}</h1></div>

<h3>公司 Logo</h3>
<img style="margin-left: 180px; max-width: 250px; max-hegiht: 250px;" src="{{ STATIC_URL }}/images/company_logo/{{ img }}" alt="公司Logo">
<hr>

<table class="table table-bordered table-hover table-condensed table-striped">
  <tbody>
  {% for field, info in company %}
    <tr class="{% cycle 'odd' 'even' %}">
      <th style="width: 20%">{{ field }}</th>
      <td>{{ info }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
