{% extends "base.html" %}

{% block CONTENT %}
<div class="page-header" style="padding-bottom: 15px;"><h1>註冊廠商列表</h1></div>

<div class="grid-view">
  <table class="items table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>統編</th>
        <th>公司簡稱</th>
        <th>類別</th>
        <th>人資姓名</th>
        <th>人資電話</th>
        <th>人資手機</th>
        <th>人資信箱</th>
        <th class="no-tablesorter">動作</th>
      </tr>
    </thead>

  {% for company in companys %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ company.cid }}</td>
      <td>{{ company.shortname }}</td>
      <td>{{ company.category }}</td>
      <td>{{ company.hr_name }}</td>
      <td>{{ company.hr_phone }}</td>
      <td>{{ company.hr_mobile }}</td>
      <td>{{ company.hr_email }}</td>

      {% include 'action/detail_edit.html' with event_url='company' id=company.cid %}
    </tr>
  {% endfor %}

  </table>

</div>

{% endblock %}
