{% extends "base.html" %}

{% block CONTENT %}
<div class="page-header" style="padding-top: 20px; padding-bottom: 15px;"><h1>{{ header }}</h1></div>

<div class="grid-view">
  <div class="summary pull-right">共 {{ total }} 筆。</div>
  <table class="items table table-striped table-bordered table-condensed">
    <thead>
      <tr>
      {% for category in categorys %}
        <th class="text-center{% if forloop.last %} no-tablesorter{% endif %}">{{ category }}</th>
      {% endfor %}
      </tr>
    </thead>

  {% for item in items %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.department }}</td>
      <td>{{ item.grade }}</td>
      <td>{{ item.studentid }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.create_time | date:'Y-m-d H:i' }}</td>
      <td>{{ item.update_time | date:'Y-m-d H:i' }}</td>

      {% include 'action/detail_edit_delete.html' with event_url='hrdb' id=item.id %}
    </tr>
  {% endfor %}

  </table>

</div>
{% endblock %}
