{% extends "base.html" %}

{% block CONTENT %}

<!-- for facebook like box -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="Content" style="padding-top: 50px; padding-bottom: 50px;">

  <div class="hero-unit" style="position: relative; background: -webkit-linear-gradient(top, #dddddd, #efefef); border-bottom: 1px solid #dddddd; padding-top: 30px; padding-bottom: 30px; overflow: hidden;">
    <h1 style="font-size: 500%; text-align: center;">Open House 2014</h1>
    <p style="text-align: center;">— 國立交通大學&#12288;企業校園徵才小組 —</p>
    <div style="text-align: center;">
      <a class="btn btn-primary btn-large" href="http://openhouse.nctu.edu.tw/2014/index.php?r=recruit/stuvote/vote"><i class="icon-arrow-right icon-white"></i> 校園徵才優質廠商票選</a>
    </div>
    <hr class="soften">
    <p style="text-align: center; font-size: 130%">想隨時得到Open House的最新消息？快加入Open House的Facebook粉絲專頁！</p>
    <div style="text-align: center;">
      <div class="fb-like-box" data-href="https://www.facebook.com/NCTU.OH" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="col-md-4">
      <a href="http://www.nca.gov.tw/"><img src="{{ STATIC_URL }}images/rdss_logo.jpg" alt="研發替代役" style="display: block; margin: 0 auto; max-height: 128px;"></a>
      <h2 style="text-align: center;">研發替代役</h2>
      <p>透過一系列的研發替代役座談會，讓徵才廠商對同學進行公司簡介；同學亦可以在座談會中詢問公司相關問題。並舉辦集體面談會，讓同學與公司能直接在校內進行面試。</p>
      <a class="btn btn-link btn-large" href="/2014/index.php?r=rdss"><i class="icon-chevron-right"></i> 研發替代役</a>
      <br>
      <a class="btn btn-link btn-large" href="/2014/index.php?r=rdss/default/list"><i class="icon-chevron-right"></i> 研發替代役廠商徵才資訊</a>
    </div>

    <div class="col-md-4">
      <img src="{{ STATIC_URL }}images/oh2014/namecard.jpg" alt="校園徵才" style="display: block; margin: 0 auto; max-height: 128px;">
      <h2 style="text-align: center;">企業校園徵才</h2>
      <p>於 2013/11/01(五) 09:00 ~ 2013/11/15(五) 17:00 開放廠商報名。</p>
      <a class="btn btn-link btn-large" href="/2014/index.php?r=recruit"><i class="icon-chevron-right"></i> 企業校園徵才</a>
      <br>
      <a class="btn btn-link btn-large" href="docs/2013OH.pdf"><i class="icon-chevron-right"></i> 2013OH成果報告書</a>
      <br>
      <a class="btn btn-link btn-large" href="docs/2014OH_plan.pdf"><i class="icon-chevron-right"></i> 2014OH企劃書</a>
      <br>
    </div>

    <div class="col-md-4">
      <img src="{{ STATIC_URL }}images/oh2014/namecard-staff.jpg" alt="工作人員" style="display: block; margin: 0 auto; max-height: 128px;">
      <h2 style="text-align: center;">工作人員</h2>
      <p>認識Open House 2014各活動的籌辦工作人員與組織架構！</p>
      <a class="btn btn-link" href="/2014/index.php?r=main/login"><i class="icon-chevron-right"></i> 工作人員登入</a>
    </div>
  </div>
</div>

{% endblock %}
