{% extends "base.html" %}

{% block CONTENT %}

<div class="page-header">
  <div id="content" style="padding-bottom: 15px;">
      <h1>廠商／工作人員登入</h1>
      <hr>
  </div>

  {% if form.errors %}
  <p>您的帳戶或密碼輸入錯誤，請再試一次</p>
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}


  {% if user.is_authenticated %}
      <p>{{ user.username }} 您好，您已經登入囉!<a href="/accounts/logout">[logout]</a></p>
  {% else %}
      <form class="well form-vertical" id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
          {% csrf_token %}
          <table>
              <tr>
                <label for="id_username" class="required">統編／學號<span class="required">*</span></label>
                <input class="form-control" id="id_username" name="username" placeholder="統編/學號" type="text">
              </tr>
              <br>
              <tr>
                <label for="id_password" class="required">密碼<span class="required">*</span></label>
                <input class="form-control" id="id_password" name="password" placeholder="密碼" type="password">
              </tr>
          </table>
          <br>
          <input class="btn" type="submit" value="login" />
          <input type="hidden" name="next" value="/" />
      </form>
  {% endif %}

</div>

{% endblock %}
