{% extends "base.html" %}

{% block CONTENT %}
<div class="page-header">

  <div id="content" style="padding-top: 20px; padding-bottom: 15px;">
    <h1>修改密碼</h1>
    <hr>
  </div>

  <form class="well form-vertical" id="change-password-form" method="post" action="">
    {% csrf_token %}
    <div class="form-row">
      {{ form.old_password.errors }}
      <label for="id_old_password" class="required">請輸入舊密碼</label>{{ form.old_password }}
    </div>

    <div class="form-row">
      {{ form.new_password1.errors }}
      <label for="id_new_password1" class="required">請輸入新密碼</label>{{ form.new_password1 }}
    </div>

    <div class="form-row">
      {{ form.new_password2.errors }}
      <label for="id_new_password2" class="required">請再次輸入新密碼</label>{{ form.new_password2 }}
    </div>

    <div class="submit-row">
      <input type="submit" value="Change my password" class="default" />
    </div>
  </form>

</div>
{% endblock %}
