{% extends "base.html" %}

{% block CONTENT %}
<div class="page-header"><h1>新增報帳</h1></div>
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <div class="well">
        {% for field in form %}
        <div class="form-group">
            <label class="col-sm-2 control-label required">{{ field.label }}
                <span class="required">*</sapn>
            </label>
            <div class="col-sm-5">
                {{ field }}
            </div>
        </div>
        {% endfor %}
    <hr>
    <div><input class="col-sm-offset-2 btn btn-primary" type="submit" value="送出" /></div>
    </div>
</form>

{% endblock %}
