{% extends "base.html" %}

{% block CONTENT %}
<div class="page-header" style="padding-top: 20px;"><h1>工作人員報帳列表</h1></div>
<li style="color:blue;">點選藍色連結的標題欄位可進行排序</li>
<li style="color:red;">值秘仍可審核組長已審核通過的報帳</li>
<br/>

<div class="grid-view">
  <table class="items table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>學號</th>
        <th>姓名</th>
        <th>職稱</th>
        <th>開始時間</th>
        <th>結束時間</th>
        <th>工作內容</th>
        <th>審核狀況</th>
        <th class="no-tablesorter">動作</th>
    </thead>

  {% for salary in salarys %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ salary.id }}</td>
      <td>{{ salary.studentid }}</td>
      <td>{{ salary.name }}</td>
      <td>{{ salary.role }}</td>
      <td>{{ salary.start_time | date:'Y-m-d H:i' }}</td>
      <td>{{ salary.end_time | date:'Y-m-d H:i'  }}</td>
      <td>{{ salary.description }}</td>
      <td>{{ salary.verify }}</td>

      {% include 'action/verify_deny.html' with event_url='staffs' sub_url='salary' id=salary.id %}

  {% endfor %}

  </table>

</div>

{% endblock %}
