{% extends "base.html" %}

{% block CONTENT %}
<div class="page-header" style="padding-top: 20px; padding-bottom: 15px;"><h1>{{ header }}</h1></div>

<div class="grid-view">
  <table class="items table table-striped table-bordered table-condensed">
    <thead>
      <tr>
      {% for category in categorys %}
        <th>{{ category }}</th>
      {% endfor %}
      </tr>
    </thead>

  {% for item in items %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ item.studentid }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.role }}</td>
      <td>{{ item.mobile }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.ohbbsid }}</td>

      {% include 'action/detail_edit.html' with event_url='staffs' id=item.studentid %}
    </tr>
  {% endfor %}

  </table>

</div>

{% endblock %}
