{% extends "base.html" %}

{% block CONTENT %}
<div class="page-header" style="padding-top: 20px; padding-bottom: 15px;"><h1>工作人員名單</h1></div>

<div class="grid-view">
  <table class="items table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>學號</th>
        <th>姓名</th>
        <th>職稱</th>
        <th>手機號碼</th>
        <th>E-mail</th>
        <th>OH BBS 帳號</th>
        <th>動作</th>
      </tr>
    </thead>

  {% for staff in staffs %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ staff.studentid }}</td>
      <td>{{ staff.name }}</td>
      <td>{{ staff.role }}</td>
      <td>{{ staff.mobile }}</td>
      <td>{{ staff.email }}</td>
      <td>{{ staff.ohbbsid }}</td>

      <td style="width: 50px">
        <a class="view" rel="tooltip" href="/company/default/view/cid=22099131" data-original-title="詳細資料">
          <i class="glyphicon glyphicon-eye-open"></i>
        </a>
        <a class="update" rel="tooltip" href="/company/default/update/cid=22099131" data-original-title="修改">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
      </td>
    </tr>
  {% endfor %}

  </table>

</div>

{% endblock %}
