{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load gravatar %}
{% block titletag %}{% trans "Users" %}{% endblock %}
{% block bodyclass %}menu-users{% endblock %}
{% block extra_js %}
    <script>
        window.headerSearch = {
            url: "{% if inactive %}{% url 'staff_inactive' %}{% else %}{% url 'staff_index' %}{% endif %}",
            termInput: "#id_q",
            targetOutput: "#user-results"
        }
    </script>
{% endblock %}

{% block content %}
    {% trans "工作人員" as users_str %}
    {% trans "新增工作人員" as add_a_user_str %}
    {% trans "未開通工作人員" as filter_str %}
    {% include "shared/header.html" with title=users_str add_link="staff_create" add_text=add_a_user_str icon="user" search_url="staff_index" filter_link="staff_inactive" filter_text=filter_str %}

    <div class="nice-padding">
        <div id="user-results" class="users">
            {% include "staff/results.html" %}
        </div>
    </div>
{% endblock %}
