{% block PAY_TABLE %}
  <table class="items table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>統編</th>
        <th>公司簡稱</th>
        <th>活動費用</th>
        <th>贊助費用</th>
        <th>應付費用</th>
        <th>已付款</th>
        <th>動作</th>
      </tr>
    </thead>

  {% for company in companys %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ company.cid }}</td>
      <td>{{ company.shortname }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      {% include 'action/detail_edit.html' with sub_url='dashboard' %}
    </tr>
  {% endfor %}
  </table>
{% endblock %}
